<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hn369.ecommerce.catalog.persistence.repository.category.CategoryMyBatisMapper">

    <select id="findAllCategoriesByCountry" resultType="com.hn369.ecommerce.catalog.domain.model.CategoryModel">
        SELECT 
            c.id,
            c.uuid,
            c.parent_id AS parentId,
            c.slug,
            ct.name,
            ct.description
        FROM categories c
        LEFT JOIN category_translations ct 
            ON ct.category_id = c.id
        LEFT JOIN country cn
            ON cn.country_uuid = ct.country_uuid
        WHERE cn.country_code = #{countryCode}
          AND cn.language_code = #{lang}
        ORDER BY c.parent_id NULLS FIRST, c.id
    </select>

</mapper>
